/* CSS Document */

/*<style type="text/css">

.style1 {color: #FFFFFF}

td:hover {color: #FFFFFF;
background-color: #0000CC;
text-decoration:#FFFFFF;}


</style>*/
/*
table thead{

background-color:#CCCCCC;
}

th, td {
padding:10px;
text-align:left;
}

tbody tr:hover {
background-color:#EEEEEE;
}

tbody td {
border-bottom:1px solid #CCCCCC;}

tbody tr:nth-child(even) {
background-color:#EEEEEE;}*/

